@import url("layout/navbar.css");
@import url("layout/footer.css");
@import url("vendor/animation.css");
@import url("vendor/swipebox.css");

.spacer {
  height: 1em;
}

.big-spacer {
  height: 3em;
}

.thumbnail {
  border: 0px;
}

.img-blog {
  width: 100%;
}

.vertical-img {
  margin: auto;
}

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.jspane {
  display: inline-block;
  line-height: 0;
  overflow: hidden;
  position: relative;
}
.jspane img {
  line-height: 0;
  width: 100%;
}

.jspane .text {
  background: rgba(255, 255, 255, 1);
  color: #5B91B9;
  width: 100%;
  height: 100%;
  line-height: normal;
  padding: 2px 30px 2px 30px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.jspane .text h1 {
  font-size: 1.3em;
  border-bottom: 1px dotted;
  letter-spacing: -1px;
}

.jspane .text p {
  color: #777;
  font-size: 1.1em;
  padding-top: 3px;
}

#next-post {
  display: inline;
  float: right;
}

#previous-post {
  display: inline;
  float: left;
}

/* #wrapper {
  height: 700px;
} */

body {
  font-family: 'Abel', sans-serif;
  padding-top: 6em;
  color: #777;
}

body h1 {
  color: #5B91B9;
  font-size: 1.6em;
}

body p {
  font-size: 18px;
}

article p {
  font-size: 1.2em;
}

article h1 {
  color: #5B91B9;
  font-size: 1.7em;
}

#logo {
  border-radius: 1%;
}