@import url("layout/navbar.css");
@import url("layout/footer.css");
@import url("layout/carousel.css");
@import url("layout/button.css");
@import url("layout/card.css");
@import url("vendor/animation.css");
/* @import url("vendor/swipebox.css"); */

.spacer {
  height: 1em;
}

.mid-spacer {
  height: 4em;
}

.big-spacer {
  height: 6em;
}

.thumbnail {
  border: 0px;
}

.img-blog {
  width: 100%;
}

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.jspane {
  display: inline-block;
  line-height: 0;
  overflow: hidden;
  position: relative;
}
.jspane img {
  line-height: 0;
  width: 100%;
}

.jspane .text {
  background: rgba(255, 255, 255, 1);
  color: #5B91B9;
  width: 100%;
  height: 100%;
  line-height: normal;
  padding: 2px 30px 2px 30px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.jspane .text h1 {
  font-size: 1.3em;
  border-bottom: 1px dotted;
  letter-spacing: -1px;
}

.jspane .text p {
  color: #777;
  font-size: 1.1em;
  padding-top: 3px;
}

#next-post {
  display: inline;
  float: right;
}

#previous-post {
  display: inline;
  float: left;
}

/* #wrapper {
  height: 700px;
} */

body {
  font-family: 'Abel', sans-serif;
/*  padding-top: 6em;
*/  color: #777;
}

body h1 {
  color: rgb(78, 75, 75);
  font-size: 1.8em;
  font-family: 'Roboto', sans-serif;
}

body h2 {
  font-size: 1.6em;
}

body h3 {
  color: grey;
  font-size: 1.3em;
  font-family: 'Roboto', sans-serif;
}

.carousel-caption > h1 {
  color: white;
}

body p {
  font-size: 18px;
}

article p {
  font-size: 1.2em;
}

article h1 {
  color: rgb(78, 75, 75);
  font-size: 1.7em;
}

#logo {
  border-radius: 1%;
}

#fuveau {
  color: #BA6E4D;
  text-transform: uppercase;
}

#uk {
  color: black;
}

#uk2 {
  color: black;
  color: #5B91B9;
  font-size: 1.5em;
  text-transform: uppercase;
}

#upper {
  text-transform: uppercase;
}

#small {
  font-size: 1.1em;
}
/* === Séparateur avant & après la section === */
.home-intro {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: #fff; /* garde ton fond clair */
}

/* === Titre (col gauche) : plus élégant, lisible, éditorial === */
.home-intro h1 {
  font-size: clamp(1.6rem, 2vw + 1rem, 2.3rem);
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: 0.03em;
  font-variant-caps: small-caps;
  font-feature-settings: "smcp" 1, "liga" 1;
  color: #111;
  margin: 0 0 1rem;
}

.carousel-caption h2 {
  font-size: clamp(2.2rem, 4vw, 3.2rem);  /* Légèrement plus petit qu'un H1 */
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 0.6rem;
}

.carousel-caption h3 {
  font-size: clamp(1.6rem, 3vw, 2.2rem);  /* Agrandi pour reprendre l’esprit H2 en desktop */
  font-weight: 500;
  font-style: italic;
  color: #f4f4f4;                        /* Contrasté mais subtil */
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}
