.navbar-transparent {
  background-color: white;
  border-bottom: 0px;
  padding: 1em;
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: #5B91B9;
  /* text-decoration: underline; */
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: #5B91B9;
}

.spacer {
  height: 1em;
}

.thumbnail {
  border: 0px;
}

.jspane {
  display: inline-block;
  line-height: 0;
  overflow: hidden;
  position: relative;
}
.jspane img {
  line-height: 0;
}

.jspane .text {
  background: rgba(255, 255, 255, 1);
  color: #5B91B9;
  width: 100%;
  height: 100%;
  line-height: normal;
  padding: 2px 30px 2px 30px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.jspane .text h1 {
  font-size: 1.3em;
  border-bottom: 1px dotted;
  letter-spacing: -1px;
}

.jspane .text p {
  color: grey;
  font-size: 1.1em;
  padding-top: 3px;
}

#footer {
  color: grey;
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: center;
}

#footer a {
  color: grey;
}

#footer a:hover {
  color: #5B91B9;
}

/* taille police logo réseaux sociaux
.social a {
  font-size: 18px;
} */

/* #wrapper {
  height: 700px;
} */

body {
  font-family: 'Abel', sans-serif;
  padding-top: 6em;
}

body h3 {
  color: #5B91B9;
  font-size: 20px;
}

body p {
  font-size: 18px;
}

#logo {
  border-radius: 1%;
}
