<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-inline social"> 
          <!--<li><a href="https://app.blink.la/u/mathosset" target="_blank"><img src="https://blink.la/img/widgets/30.png" style="border:none; overflow:hidden; width:30px; height:30px;"/></a></li> -->
          <li>Photos ©Mathieu Thomasset</li>
          <li>
            <a href="mailto:mathieuthomasset@gmx.com"><i class="fa fa-envelope-o"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/mathosset" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://facebook.com/mathosset" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://instagram.com/mathosset" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="http://fr.linkedin.com/in/mathosset" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/mathosset" target="_blank">
              <i class="fa fa-github"></i>
            </a>
          </li>
          <li>
            <a href="https://blink.la/u/mathosset" target="_blank">
              <i class="fa fa-map-marker"></i>
            </a>
          </li>
          <li>Photographe à Nantes - Reportage, Portraits, Corporate</li>
        </ul>
      </div>
    </div>
  </div>
</div>
