<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-inline social">
          <li>Photos © Mathieu Thomasset </li>
          <li>
            <a href="mailto:mathosset@gmail.com"><i class="fa fa-envelope-o"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/mathosset">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://facebook.com/mathosset">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="http://fr.linkedin.com/in/mathosset">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/mathosset">
              <i class="fa fa-github"></i>
            </a>
          </li>

          <!--<li>
            <a href="https://instagram.com/mathosset">
              <i class="fa fa-instagram"></i>
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
