<nav class="navbar navbar-default navbar-transparent navbar-fixed-top" id="transparent">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% link_to "/", class: "navbar-brand", id: "white" do %>
        <i class="fa fa-camera-retro"></i> MATHIEU THOMASSET
      <% end %>
    </div>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="main-navbar">

      <ul class="nav navbar-nav navbar-right">
        <li>
          <% link_to "tirages" do %>
            <i class="fa fa-cube"></i> TIRAGES
          <% end %>
        </li>
        <% if current_page.data.preferred_url == 'http://www.mathieuthomasset.fr' %>
          <li>
            <% link_to "demande-de-contact", class: "btn-medium" do %>
              <i class="fa fa-cubes"></i> DEMANDER UN DEVIS
            <% end %>
          </li>
        <% else %>
          <li>
            <% link_to "demande-de-contact", class: "btn-medium-nav" do %>
              <i class="fa fa-cubes"></i> DEMANDER UN DEVIS
            <% end %>
          </li>
        <% end %>
        <li><% link_to "portraits" do %><i class="fa fa-cube"></i> PORTRAITS<% end %></li>
        <li><% link_to "entreprise" do %><i class="fa fa-cube"></i> ENTREPRISES<% end %></li>
        <li><% link_to "publications" do %>PUBLICATIONS<% end %></li>
        <li><% link_to "blog" do %>BLOG<% end %></li>
        <li><% link_to "bio" do %>BIO<% end %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
