<nav class="navbar navbar-default navbar-transparent navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% link_to "index.html", class: "navbar-brand" do %>
        <i class="fa fa-camera-retro"></i> MATHIEU THOMASSET
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#">Reportages</a></li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cubes"></i> Projets<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Horsecart Driver n°20", "bobo.html" %></li>
            <li><%= link_to "Qu'as-tu fait des rêves de tes 20 ans ?", "regis.html" %></li>
            <li><%= link_to "Entre deux prières", "prieres.html" %></li>
            <!-- <li class="divider"></li>
            <li><a href="#">Separated link</a></li> -->
          </ul>
        </li>
        <li>
          <% link_to "portraits.html" do %>
            <i class="fa fa-cube"></i> Portraits
          <% end %>
        </li>
          <li>
          <% link_to "bio.html" do %>
            <i class="fa fa-angle-right"></i> Bio
          <% end %>
        </li>
        <!-- <li>
          <a href="https://instagram.com/mathosset">
            <i class="fa fa-instagram"></i>
          </a>
        </li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
