.btn-medium {
  color: white;
  border: 1px solid white;
  padding: 8px 12px;
  border-radius: 2px;
  font-weight: lighter;
  opacity: 0.8;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
  border: 2px solid white;
}
.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #5B91B9;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  background: none;
  border: 2px solid #5B91B9;
  text-decoration: none;
  color: #5B91B9;
}
/*.btn-treehouse {
  color: #5B91B9;
  border: 2px solid #5B91B9;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: none;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  background: #5B91B9;
  
  text-decoration: none;
  color: white;
}*/

.btn-medium-nav {
  color: white;
  border: 1px solid grey;
  background: #E6E6E6;
  padding: 4px 8px;
  border-radius: 4px;
/*  font-weight: lighter;*/
  opacity: 0.9;
}
.btn-medium-nav:hover {
  /*opacity: 1;*/
  text-decoration: none;
  color: white;
  border: 2px solid #5B91B9;
}
