.carousel-slide {
	position: relative;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
}

.carousel-caption {
	position: absolute;
	bottom: 60px;
}

.carousel-caption > h3 {
	font-size: 1.8em;
}

.carousel-caption > a,
.carousel-caption > a:hover,
.carousel-caption > a:active {
  	font-size: 1em;
 	color: white;
  	font-weight: lighter;
/*  	font-family: 'Montserrat', sans-serif;
*/}

html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}