.navbar-transparent {
  background-color: white;
  border-bottom: 0px;
  padding: 1em 0.6em;
  font-weight: normal;
}

.navbar-transparent .dropdown-menu {
  border-radius: 4px !important;
  margin-top: 15px;
  border-color: #E6E6E6;
}

.navbar-transparent .dropdown-menu :before{
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 30px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

/*.navbar-transparent .dropdown-menu a {
  color: #777;
}*/

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus,
.navbar-transparent .dropdown-menu a:hover,
.navbar-transparent .dropdown-menu > .open > a:hover {
  color: #5B91B9;
  background-color: transparent !important;
  /* text-decoration: underline; */
}

/*.navbar-default .navbar-brand > a,
.navbar-default .navbar-nav > li > a {
  color: #777;
}*/
/*.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: #5B91B9;
}

.navbar-transparent .navbar-header a,
.navbar-transparent .navbar-nav > li > a {
  color: #555;
}

.navbar-default .navbar-toggle .icon-bar {
  color: #555;
/*  background-color: white;*/  
/*  border-color: white;
*/

/*.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #555;
}*/