---
title: Multimédia
preferred_url: http://www.mathieuthomasset.fr/multimédia.html
---

<div class="big-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <h1>L'art de manifester</br>2016</h1>
      <p>Dans un contexte d’austérité et de chômage de masse, où les plans de licenciement et les réformes qui remettent en cause les acquis sociaux se succèdent, quelle est la place de l’activisme traditionnel et quelle est son efficacité ? </br></br>L’objectif de ce diaporama sonore est de questionner la place de la manifestation dans notre société, à travers le regard d’un militant. Xavier Renou est le fondateur des Désobéissants, un mouvement prônant la désobéissance civile. En cheminant avec lui, différentes formes de manifestations et d'actions militantes seront explorées : la manifestation en octobre 2016 en soutien aux salariés McDonald's à Paris au sein de plusieurs succursales d'un franchisé de la chaine de restauration rapide pour une revalorisation du salaire horaire #FightFor13€, les manifestation contre la loi travail en mai 2016, la manifestation organisée chaque année par l'Association nationale de défense des victimes de l'amiante (Andeva), et le clown activisme avec la Brigade des clowns (BAC) en décembre 2015.</br></br>Les réponses apportées collectivement au déficit de représentation sont diverses : certains continuent de descendre dans la rue, d’autres préfèrent se concentrer sur de nouvelles formes de militantisme dites pacifiques. L'enjeu est de faire une ébauche d'état des lieux du militantisme et de l’engagement syndical et associatif en France, dans un contexte où le modèle classique du syndicalisme est en crise. Autant de défis posés à notre société, questionnant la place du citoyen salarié et de son engagement.
    </div>
    <div class="col-xs-12 col-sm-12">
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="video-container">
        <iframe src="https://player.vimeo.com/video/194337505?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="spacer"></div>
</div>
<div class="spacer"></div>
