---
title: Bio
---

<div class="spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag "moi.jpg", width: "100%" %>
    </div>
    <div class="spacer"></div>
    <div class="col-sm-8">
      <p>Après avoir travaillé un peu plus de 10 ans au sein de grands groupes et de start-ups, je pars faire un long voyage autour du monde pendant près de deux ans (<a href="http://www.voirlemonde.fr">www.voirlemonde.fr</a>). Je rentre alors en France avec quelques milliers de photos, plus ou moins réussies, et la conviction que ma voie est là : écrire, raconter, témoigner avec des images et des mots. </br> </br> Après avoir apris à coder au sein du Wagon, je décide alors de perfectionner ma technique photographique aux Gobelins, l’école de l’image en 2014/2015. Puis je complète mon cursus en 2015/2016 en photojournalisme à l'EMI CFD.</p>
      <div class="spacer"></div>
      <p>Contact :</p>
      <p>Actuellement à Paris</p>
      <p><i class="fa fa-mobile"></i> +33(0)6.95.51.46.79</p>
      <p><i class="fa fa-envelope-o"> <a href="mailto:mathosset@gmail.com"></i> mathosset@gmail.com</a></p>
    </div>
  </div>
</div>

<div class="spacer"></div>
