---
title: Bio et contact
preferred_url: http://www.mathieuthomasset.fr/bio.html
---

<div class="spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag "moi.jpg", width: "100%", id: "logo" %>
    </div>
    <div class="spacer"></div>
    <div class="col-sm-8">
      <p>Après avoir travaillé un peu plus de 10 ans au sein de grands groupes et de start-ups, je pars faire <a href="http://www.voirlemonde.fr">un long voyage autour du monde</a> pendant près de deux ans. Je rentre alors en France avec quelques milliers de photos, plus ou moins réussies, et la conviction que ma voie est là : écrire, raconter, témoigner avec des images et des mots. </br> </br> Je décide alors de suivre en 2015/2016 le cursus photojournalisme au sein de l'EMI CFD.</p>
      <div class="spacer"></div>
      <p>Contact :</p>
      <p>Actuellement à Paris</p>
      <p><i class="fa fa-mobile"></i> +33(0)6.95.51.46.79</p>
      <p><i class="fa fa-envelope-o"> <a href="mailto:mathosset@gmail.com"></i> mathosset(at)gmail.com</a></p>
    </div>
  </div>
</div>

<div class="spacer"></div>
