---
title: Bio
---

<div class="spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag "moi.jpg", width: "100%" %>
    </div>
    <div class="spacer"></div>
    <div class="col-sm-8">
      <p>Après un peu plus de 10 ans au sein de grands groupes et de start-ups, je pars faire un long voyage sur trois continents pendant près de deux ans. De retour en France, j'ai eu envie de continuer cette expérience et cette introspection à travers à la photographie. </br> </br> Après une première formation aux Gobelins, l'école de l'image, en 2014/2015, je complète mon cursus en 2015/2016 en photojournalisme à l'EMI CFD.</p>
      <div class="spacer"></div>
      <p>Contact :</p>
      <p>Actuellement à Paris</p>
      <p>+33(0)6.95.51.46.79</p>
      <p>mathosset@gmail.com</p>
    </div>
  </div>
</div>

<div class="spacer"></div>
