---
title: Photographe à Nantes - Reportage, Portraits, Corporate - Bio et Contact
description: Photographe à Nantes (44) - Reportage, Portraits pour la Presse et les Entreprises  - Membre du studio Hans Lucas - Bio
preferred_url: http://www.mathieuthomasset.fr/bio
---

<div class="big-spacer"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      </br>
      <%= image_tag "moi.jpg", width: "100%", id: "logo" %>
      <div class="spacer"></div>
      <p>Contact :</p>
      <p><i class="fa fa-mobile"></i> +33(0)6.95.51.46.79</p>
      <p><i class="fa fa-envelope-o"> <a href="mailto:mathieuthomasset@gmx.com"></i> mathieuthomasset(at)gmx.com</a></p>
      <p><iframe src="https://blink.la/widgets/button/u/mathosset?size=s" scrolling="no" frameborder="0" allowtransparency="true" style="border:none; overflow:hidden; width:auto; min-width:100% height:30px;"></iframe></p>
    </div>
    <div class="col-sm-4">
      <p>---- FR -----------------------</p>      
      <p>Après avoir travaillé un peu plus de 10 ans au sein de grands groupes et de start-ups, je pars faire <a href="http://www.voirlemonde.fr">un long voyage autour du monde</a> pendant près de deux ans. Je rentre alors en France avec quelques milliers de photos et la conviction que ma voie est là : écrire, raconter, témoigner avec des images et des mots. </br> </br>Je commence alors en 2014 par apprendre à coder au sein du Dev Bootcamp <a href="http://www.lewagon.org/">Le Wagon</a>, puis je perfectionne ma technique photographique <a href="http://www.gobelins.fr/">aux Gobelins</a>, l'école de l'image, en 2014/2015. Et enfin, je décide de suivre en 2015/2016 le cursus photojournalisme au sein de <a href="http://www.emi-cfd.com/">l'EMI CFD</a>.</p>
      <p>Aujourd'hui Photographe professionnel indépendant basé à Nantes, je travaille en commande pour la Presse, les Institutionnels, les Entreprises et les particuliers.</p>
      <p>Membre du studio <a href="http://hanslucas.com/mthomasset/photo">HANS LUCAS</a> depuis août 2017.</p>
      <p>Carte de Presse n°127141</p>
      <div class="spacer"></div>
    </div>
    <div class="col-sm-4" id="uk">
      <p>---- UK -----------------------</p>
      <p>After working a little more than 10 years in large groups and start-ups, I go on <a href="http://www.voirlemonde.fr">a long trip around the world</a> for almost two years. I then go back to France with a few thousand photos and the conviction that my path is there: to write, to tell, to testify with images and words. </br> </br>In 2014, I started learning how to code in the Dev Bootcamp <a href="http://www.lewagon.org/">Le Wagon</a>,  then I perfected my photographic technique at <a href="http://www.gobelins.fr/"> Gobelins</a>, the school of image, in 2014/2015. And finally, I decided to follow in 2015/2016 the photojournalism course within the <a href="http://www.emi-cfd.com/">EMI CFD</a>.</p>
      <p>Today, I am a freelance professional photographer based in Nantes, working on commission for the Press, Institutionals, Companies and individuals.</p>
      <p>Member of <a href="http://hanslucas.com/mthomasset/photo">HANS LUCAS studio</a> since August 2017.</p>
      <p> Press Card n°127141</p>
      <div class="spacer"></div>
    </div>
  </div>
</div>
<div class="spacer"></div>
