---
title: Horsecart Driver n°20
image_path: http://mathieuthomasset.fr/images/bobo_1.jpg
description: Bobo, 40 ans, marié, 5 enfants fait vivre sa famille en promenant les touristes à Bagan à la découverte des nombreux temples souvent accessibles uniquement via des chemins en carrioles.
preferred_url: http://www.mathieuthomasset.fr/bobo.html
---

<div class="spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h3>Horsecart Driver N°20</br>2012</h3>
      </br>
      <p>Bobo, 40 ans, marié, 5 enfants fait vivre sa famille en promenant les touristes à Bagan à la découverte des nombreux temples souvent accessibles uniquement via des chemins en carrioles. Il connait cette terre comme sa poche et sait où aller pour voir les plus beaux couchés de soleil du haut d’un des nombreux édifices de la région, les plus belles peintures conservées dans leur jus ou encore comment éviter la foule qui se presse chaque année toujours plus nombreuse pour visiter ce site exceptionnel. </br>Bobo est le horsecart driver numéro 20 à Bagan et probablement un des meilleurs conducteur de carriole de la ville. Vous pourrez presque tout lui demander, sauf une seule chose qu’il refusera systématiquement. A savoir de vous accompagner en haut des temples. </br>Bobo est un horsecart driver et préfère rester dans le monde des horsecart drivers, en bas des temples.</p>
      <div class="spacer"></div>
    </div>
    <div class="col-sm-12 text-right">
      <button class="btn btn-default fa fa-stop disabled" id="btn-list"></button>
      <button class="btn btn-default fa fa-th-large" id="btn-grid"></button>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
    <section id="grid">
      <% data.bobo.each do |y| %>
        <div class="col-sm-12">
          <%= image_tag y.picture, width: "100%" %>
          <p><%= y.caption %></p>
        </div>
      <% end %>
    </section>
  </div>
</div>

<div class="spacer"></div>
