---
title: Confirmation de contact
description: Photographe professionnel de portrait à Nantes (44) - Portraits pour la Presse, les Entreprises et les particuliers - Confirmation de contact
preferred_url: http://www.mathieuthomasset.fr/confirmation-de-contact
tag: Oui
---

<div class="big-spacer"></div>

<div class="container-fluid">
  <div class="row">
    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-3 col-md-offset-1">
      <h1 id="upper">Demande de contact</h1>
      </br>
      <p>Vous avez un projet photographique et souhaitez être contacté pour recevoir un devis ou vous souhaitez simplement des renseignements, remplissez ce formulaire afin que je vous contacte très prochainement.</p>
      <p><i class="fa fa-mobile"></i> +33(0)6.95.51.46.79</p>
      <!-- <p><i class="fa fa-envelope-o"> <a href="mailto:mathieuthomasset@gmx.com"></i> mathieuthomasset(at)gmx.com</a></p> -->
<!--       <p>Je réalise des portraits pour la <span id="uk">Presse</span>, les <span id="uk">Entreprises</span> et les <span id="uk">particuliers</span> à Nantes, en région Pays de la Loire et Bretagne ainsi qu'en France.</br> Je photographie des dirigeants, salariés, artisans, écrivains, artistes... Les séances photo de <strong>portrait</strong> se déroulent en studio mobile ou en lumière naturelle.</p>
      <p class="text-right"> <i class="fa fa-arrow-down" aria-hidden="true"></i> Télécharger mon portfolio <%= link_to 'PORTRAIT', '/images/Portfolio_Portrait_MThomasset.pdf', target: "_blank" %></p> <br> -->
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-6 col-md-offset-1">
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <p><span id="uk2">Merci pour votre demande d'information !</span></p>
    </div>  
  </div>
</div>
<div class="spacer"></div>