---
title: Dans les coulisses de Pèlerin
image_path: http://mathieuthomasset.fr/images/cop21-17.jpg
description: Une semaine dans la vie de la rédaction du journal Pèlerin, édité par le groupe de presse indépendant Bayard.
preferred_url: http://www.mathieuthomasset.fr/coulissespelerin.html
---

<div class="spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1>Dans les coulisses de Pèlerin</br>2016</h1>
      </br>
      <p>Quelques semaines dans la vie de la rédaction du journal Pèlerin au contact de ceux qui font cet hebdomadaire créé en 1873 et édité par le groupe de presse indépendant Bayard.</p>
      <div class="spacer"></div>
    </div>
    <div class="col-sm-12 text-right">
      <button class="btn btn-default fa fa-stop" id="btn-list"></button>
      <button class="btn btn-default fa fa-th-large disabled" id="btn-grid"></button>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
    <section id="grid">
      <% data.pelerin.each do |y| %>
        <div class="col-xs-6 col-sm-4">
          <%= image_tag y.picture, width: "100%" %>
          <p><%= y.caption %></p>
        </div>
      <% end %>
    </section>
  </div>
</div>
<div class="spacer"></div>
