---
title: Marie et les filles
image_path: http://mathieuthomasset.fr/images/marie_02.jpg
description: Marie est restauratrice de peinture et consacre sa vie à la préservation d’oeuvres classées aux monuments historiques.
preferred_url: http://www.mathieuthomasset.fr/entre-ciel-et-terre
---

<div class="big-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1>Marie et les filles
        <% link_to "multimedia.html" do %>
          <i class="fa fa-play-circle-o pulse"></i>
        <% end %></h1>
      </br>
      <p>A la tête d'un groupement solidaire de dix restauratrices, Marie et son équipe ont démarré en septembre 2015 un chantier qui s'étalera sur quatre ans de restauration des fresques d'un des meilleurs élèves d'Ingres, Amaury Duval, un peintre du XIXème siècle, dans l'église de Saint Germain-en-laye.</br></br>L'équipe 100% féminine se retrouve deux fois dans la journée pour partager un café et rompre avec la solitude de la restauration. Luxe apprécié par les filles lors de la seconde année, une cabane de chantier a été installée et leur permet de se changer et de prendre la pause ensemble à l'extérieur de l'église. L'édifice étant ouvert pendant les travaux, elles partagent la vie de l'église et continuent de travailler pendant les messes, les mariages mais aussi les enterrements.</br>Les filles réalisent à intervalle régulier des examens de santé pour vérifier notamment leur «contamination» au plomb contenu dans les peintures. Toutes ont subi une hausse de ce taux et portent désormais pour la seconde année du chantier un masque de protection qui complexifie leur quotidien.</br></br>Leur travail, à contre-sens d'une société du flux dominé par la technologie et l'immédiateté, est pourtant essentiel pour préserver notre mémoire patrimoniale et collective. Une société sans mémoire aurait-elle un avenir ? Et pourtant, comme beaucoup de métier en lien avec l'art et le patrimoine, il n'échappe pas à une certaine forme de précarisation.</br></br>"Restauratrice. C'est un métier qui se féminise beaucoup, comme énormément de métiers, les médecins, les avocats, les magistrats... Je parlais avec une conservatrice qui me demandait où sont les hommes ? Et je pense qu'ils sont beaucoup dans des écoles de commerce, beaucoup dans l'informatique. Dans ce genre de métier il y en a de moins en moins. Et le gros problème, c'est que les métiers qui se féminisent sont des métiers qui se paupérisent. Plus ça va, moins on gagne bien sa vie en étant restaurateur de peintures."</br>Interview de Marie Parant, restauratrice de peinture à Paris. </p>
      <div class="spacer"></div>
    </div>
    <div class="col-sm-12 text-right">
      <button class="btn btn-default" id="btn-list"><i class="fa fa-stop"></i> single</button>
      <button class="btn btn-default disabled" id="btn-grid"><i class="fa fa-th-large"></i> planche</button>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
    <section id="grid">
      <% data.marie.each do |y| %>
        <div class="col-xs-6 col-sm-4" >
          <a href="images/<%= y.picture %>" class="swipebox" title="<%= y.caption %>">
            <%= image_tag y.picture, width: "100%" %>
          </a>
          <p><%= y.caption %></p>
        </div>
      <% end %>
    </section>
  </div>
</div>

<div class="spacer"></div>
