---
title: Mathieu Thomasset - Auteur Photographe basé en Vendée
description: Auteur photographe en Vendée - Vente de tirages signés et numérotées limités à 30 exemplaires
preferred_url: http://www.mathieuthomasset.fr/exposition-voie
---


<div class="big-spacer"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 id="fuveau">Brasserie Voïe à Fuveau (13)</h1>
      <h2 id="upper">mai - juin 2024</h2>
      <div class="spacer"></div>
    </div>
  </div> 
  <div class="row">
    <div class="col-sm-3">
      <%= image_tag "grasla1.jpg", width: "100%", id: "logo" %>
    </div>
    <div class="col-sm-3">
      <p><span id="uk">Mathieu THOMASSET</span> est un photographe membre du <span id="uk">Studio HANS LUCAS</span> et de la <span id="uk">SAIF</span> - Société des Auteurs des arts visuels et de l'Image Fixe.</p>
    </div>
    <div class="col-sm-3">
      <p>Formé à Paris aux <span id="uk">GOBELINS</span>, l'Ecole de l'Image, et en photographie documentaire au sein de l'<span id="uk">EMI</span> - Ecole des Métiers de l’Information - Mathieu est photographe indépendant basé en Vendée et travaille pour les institutionnels, les entreprises et la presse française et étrangère.</br>Après un voyage de près de deux ans sur trois continents, il rejoint le studio Hans Lucas et s’installe dans l’Ouest de la France au coeur du bocage vendéen.</br>Sa pratique photographique vise à documenter la vie de ce territoire en tirant le portrait de ses acteurs et de sa géographie.</p>
    </div>
    <div class="col-sm-3">
      <h2 id="upper"><span id="uk">"Grasla"</span></h2>
      <p>La série «Grasla» est une invitation à un voyage dans une forêt luxuriante au passé riche et sombre. A travers des paysages monochromes en clair-obscur se dégage une poésie mélancolique sur les traces de légendes et de fantômes du passé en mémoire à ce lieu perdu qui servit de refuge et de cache pendant les guerres de Vendée.</p>
    </div>
  </div>
  <div class="big-spacer"></div>
  <div class="row">
    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-3 col-md-offset-1">
      <%= image_tag "grasla3.jpg", width: "100%", id: "logo" %>
    </div>
    <div class="col-xs-12 col-sm-3">
      </br>
      <p><span id="uk">Tirages signés</span></br>Édition limitée à 50 exemplaires</br>papier A3 Epson Mat Archival</br>avec son cadre au format 40x30 cm</p>
      <div class="spacer"></div>
    </div>
    <div class="col-xs-12 col-sm-4">
      </br>
      <p>Prix unitaire : 140€ </br>Prix pour 3 : 360€ (soit 120€ l’unité)</br>Prix pour la série de 6 : 600€ (soit 100€ l’unité)</p>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
  </div>
  <div class="row">
    <div class="spacer"></div>
    <div class="col-xs-12 col-sm-3 col-md-offset-1">
      <%= image_tag "grasla4.jpg", width: "100%", id: "logo" %>
    </div>
    <div class="col-xs-12 col-sm-3">
      </br>
      <p><span id="uk">Tirages signés</span></br>Édition limitée à 50 exemplaires</br>papier A4 Epson Premium Luster</br>avec son cadre et passe-partout au format 40x30 cm</p>
      <div class="spacer"></div>
    </div>
    <div class="col-xs-12 col-sm-4">
      </br>
      <p>Prix unitaire : 80€ </br>Prix pour 4 : 260€ (soit 65€ l’unité)</br>Prix pour la série de 8 : 400€ (soit 50€ l’unité)</p>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
  </div>
</div>
<div class="spacer"></div>