---
title: Welcome to Fukushima
image_path: http://mathieuthomasset.fr/images/fukushima-1.jpg
description: La projection au CENTQUATRE à Paris du documentaire, Welcome to Fukushima, réalisé par Alain de Halleux, a été l’occasion pour l’auteur et militante anti-nucléaire Yûki Takahata de faire un point sur la situation dans la région.
preferred_url: http://www.mathieuthomasset.fr/fukushima
---

<div class="big-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1>Welcome to Fukushima</h1>
      </br>
      <p>La projection au CENTQUATRE à Paris lors de la Zone d'Action pour le climat (ZAC) du 7 au 11 décembre 2015 du documentaire, Welcome to Fukushima, réalisé par Alain de Halleux sur la ville Minamisoma située à 20km de la centrale nucléaire en périphérie de la zone d’exclusion, a été l’occasion pour l’auteur et militante anti-nucléaire Yûki Takahata de faire un point sur la situation dans la région à l’approche du cinquième anniversaire de l’accident.</p>
      <div class="spacer"></div>
    </div>
    <div class="col-sm-12 text-right">
      <button class="btn btn-default" id="btn-list"><i class="fa fa-stop"></i> single</button>
      <button class="btn btn-default disabled" id="btn-grid"><i class="fa fa-th-large"></i> planche</button>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
    <section id="grid">
      <% data.fukushima.each do |y| %>
        <div class="col-xs-6 col-sm-4" >
          <a href="images/<%= y.picture %>" class="swipebox" title="<%= y.caption %>">
            <%= image_tag y.picture, width: "100%" %>
          </a>
          <p><%= y.caption %></p>
        </div>
      <% end %>
    </section>
  </div>
</div>
<div class="spacer"></div>
