---
title: D'ici et d'ailleurs
image_path: http://mathieuthomasset.fr/images/globetrotters-1.jpg
description: Ils ont pris la route pour un tour du monde pendant 6 mois, un an ou parfois plus. En quête de liberté ou tout simplement pour redonner du sens à leur vie, ils ont vécu leur rêve de découverte, de rencontres et de grands espaces. Mais que se passe-t-il au retour d’une telle expérience ?
preferred_url: http://www.mathieuthomasset.fr/globetrotters.html
---

<div class="big-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1>D'ici et d'ailleurs (projet en cours)</br>2016</h1>
      </br>
      <p>Ils ont pris la route pour un tour du monde pendant 6 mois à un an, parfois plus. En quête de liberté ou tout simplement pour redonner du sens à leur vie, ils ont vécu leur rêve de découverte, de rencontres et de grands espaces. Mais que se passe-t-il au retour d’une telle expérience ? Ont-ils repris leur vie là où ils l’avaient laissée ou bien un tout autre chemin ?</br>Le globetrotteur se retrouve alors dans une sorte de schizophrénie : de retour physiquement et pourtant son esprit est toujours ailleurs. Ils pensaient leur soif de voyage satisfaite par une telle aventure et pourtant c'est souvent le contraire qui arrive.</br>Une fois de retour, le virus du nomade, cette envie d'ailleurs, ne les quitte souvent plus.</br>Ils sont désormais d'ici et d'ailleurs.</p>
      <div class="spacer"></div>
    </div>
    <div class="col-sm-12 text-right">
      <button class="btn btn-default fa fa-stop" id="btn-list"> slide</button>
      <button class="btn btn-default fa fa-th-large disabled" id="btn-grid"> planche</button>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
    <section id="grid">
      <% data.globetrotters.each do |y| %>
        <div class="col-xs-6 col-sm-4" >
          <a href="images/<%= y.picture %>" class="swipebox" title="<%= y.caption %>">
            <%= image_tag y.picture, width: "100%" %>
          </a>
          <p><%= y.caption %></p>
        </div>
      <% end %>
    </section>
  </div>
</div>
<div class="spacer"></div>