---
title: Innondations à Paris
image_path: http://mathieuthomasset.fr/images/inondations-paris-01.jpg
description: Avec un pic de crue qui devrait atteindre dans la journée du samedi 4 juin un maximum de 6,50m, la Seine est devenu l'attraction numéro un des touristes et des parisiens ainsi que des médias..
preferred_url: http://www.mathieuthomasset.fr/inondations-paris-2016.html
---

<div class="spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1>Inondations à Paris
      </br>2016</h1>
      </br>
      <p>Avec un pic de crue qui devrait atteindre dans la journée du samedi 4 juin un maximum de 6,50m, la Seine est devenue l'attraction numéro un des touristes et des parisiens ainsi que des médias.</br></br></p>
      <div class="spacer"></div>
    </div>
    <div class="col-sm-12 text-right">
      <button class="btn btn-default fa fa-stop" id="btn-list"></button>
      <button class="btn btn-default fa fa-th-large disabled" id="btn-grid"></button>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
    <section id="grid">
      <% data.inondations.each do |y| %>
        <div class="col-xs-6 col-sm-4">
          <%= image_tag y.picture, width: "100%" %>
          <p><%= y.caption %></p>
        </div>
      <% end %>
    </section>
  </div>
</div>
<div class="spacer"></div>
