---
title: Multimédia
preferred_url: http://www.mathieuthomasset.fr/multimédia.html
---

<div class="spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-5">
      <h1>L'art de manifester</br>2016</h1>
      <p>Quelle est la place de la manifestation aujourd’hui dans notre société ? Pourquoi certains continuent de descendre dans la rue, là où d’autres ont renoncé pour ce concentrer sur des formes d’activismes non-violents ?</br> Comment une société peut-elle devenir mobile alors même qu’elle est composée majoritairement de spectateurs ?</br>Etat des lieux de l'activisme en France avec Xavier Renou, fondateur du collectif des Désobéissants.</p>
    </div>
    <div class="col-xs-12 col-sm-7">
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="video-container">
        <iframe src="https://player.vimeo.com/video/159598850?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="row">
    <div class="col-xs-12 col-sm-5">
      <h1>Entre ciel et terre
      <% link_to "entre-ciel-et-terre.html" do %>
        <i class="fa fa-cubes pulse"></i>
      <% end %></br>2016</h1>
      <p>« Le patrimoine, c’est notre culture, notre histoire. Il est primordial de le restaurer. Il contient la mémoire humaine, un savoir-faire, un moment important d’une époque importante. » Marie Parant est restauratrice de peinture. Elle consacre sa vie depuis vingt ans à la préservation d’œuvres classées au titre des monuments historiques.</br>« Quand on est sur les échafaudages dans les églises, on a une position très privilégiée, confie-t-elle. L’idée d’être entre ciel et terre me plaît beaucoup. On voit les œuvres comme jamais personne ne les verra. » </br>À la tête d’un groupement solidaire de dix restauratrices, Marie a démarré en octobre 2015 un chantier dans l’église de Saint-Germain-en-Laye (Yvelines). Pendant quatre ans, elle restaurera notamment les fresques d’un des meilleurs élèves d’Ingres, Amaury-Duval.</br>La restauration d'œuvre d'art requiert patience et prudence pour préserver l’intégrité de l’œuvre. C’est un travail long, méticuleux et passionnant. Jour après jour, au fur et à mesure, la restauratrice voit l'œuvre renaître sous ses yeux.</p>
    </div>
    <div class="col-xs-12 col-sm-7">
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="video-container">
        <iframe src="https://player.vimeo.com/video/151305576?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>  
</div>
<div class="spacer"></div>
