---
title: Mathieu Thomasset - Photographe à Nantes Publications Presse
description: Photographe à Nantes (44) - Reportage, Portraits pour la Presse et les Entreprises - Membre du studio Hans Lucas - Publications dans la presse
preferred_url: http://www.mathieuthomasset.fr/publications
---

<div class="big-spacer"></div>

<div class="container-fluid">
  <div class="row">
    <div class="spacer"></div>
    <section id="grid">
      <% data.publications.each do |y| %>
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <% if y.vertical == "yes" %>
            <%= image_tag y.picture, width: "78%", class: "center-block" %>
          <% else %>
            <%= image_tag y.picture, width: "100%" %>
          <% end %>
          <p><%= y.caption %></p>
        </div>
      <% end %>
    </section>
  </div>
</div>

<div class="spacer"></div>
