---
title: "Mathieu Thomasset - Photographe en Vendée | Publications Presse"
description: "Photographe en Vendée, basé à Montaigu-Vendée – Reportage et portraits pour la presse et les entreprises. Membre du studio Hans Lucas. Publications dans la presse nationale et régionale."
preferred_url: "http://www.mathieuthomasset.fr/publications"
---

<div class="big-spacer"></div>
<section class="home-intro">
  <%# <div class="spacer"></div> %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-2 col-md-offset-1">
        <h1>Photographe portrait & reportage en Vendée</h1>
      </div>
      <div class="col-sm-3">
      <p>Mon travail documentaire et presse est diffusé sur <strong>PIXPALACE</strong> et via l'agence photo HANS LUCAS & ses partenaires : AGENCE FRANCE PRESSE - <strong>AFP</strong> (diffusion mondiale), agence <strong>BELGA</strong> (Benelux), agence <strong>REUTERS</strong> (diffusion mondiale), Forum <strong>Polska</strong> (Pologne), <strong>DPA</strong> (Allemagne, Autriche et Suisse), <strong>Contrasto</strong> (Italie), <strong>REDUX</strong> (USA).</p>
      </div>
      <div class="col-sm-6">  
        <h2 class="portraits-h2">PUBLICATIONS</h2>    
      <p><%= partial 'layouts/bofpublications' %></p>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid">
  <section class="masonry-grid">
  <div class="grid-sizer"></div>
  <% data.publications.each do |y| %>
  <div class="grid-item">
    <% if y.vertical == "yes" %>
      <%= image_tag "publications/#{y.picture}", class: "img-responsive vertical" %>
    <% else %>
      <%= image_tag "publications/#{y.picture}", class: "img-responsive" %>
    <% end %>
    <div class="caption"><%= y.caption %></div>
  </div>
<% end %>

</section>

</div>

<div class="spacer"></div>
