---
title: Mathieu Thomasset - Photographe à Nantes Publications Presse
description: Photographe à Nantes (44) - Reportage, Portraits pour la Presse et les Entreprises - Membre du studio Hans Lucas - Publications dans la presse
preferred_url: http://www.mathieuthomasset.fr/publications
---

<div class="big-spacer"></div>
<section class="home-intro">
  <%# <div class="spacer"></div> %>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h1>Photographe portrait & reportage en Vendée</h1>
      </div>
      <div class="col-sm-4">
      <p>Mon travail documentaire et presse est diffusé sur <strong>PIXPALACE</strong> et via l'agence photo HANS LUCAS & ses partenaires : AGENCE FRANCE PRESSE - <strong>AFP</strong> (diffusion mondiale), agence <strong>BELGA</strong> (Benelux), agence <strong>REUTERS</strong> (diffusion mondiale), Forum <strong>Polska</strong> (Pologne), <strong>DPA</strong> (Allemagne, Autriche et Suisse), <strong>Contrasto</strong> (Italie), <strong>REDUX</strong> (USA).</p>
      </div>
      <div class="col-sm-5">      
      <p><%= partial 'layouts/bofpublications' %></p>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid">
  <div class="row">
    <div class="spacer"></div>
    <section id="grid">
      <% data.publications.each do |y| %>
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <% if y.vertical == "yes" %>
            <%= image_tag y.picture, width: "78%", class: "center-block" %>
          <% else %>
            <%= image_tag y.picture, width: "100%" %>
          <% end %>
          <p><%= y.caption %></p>
        </div>
      <% end %>
    </section>
  </div>
</div>

<div class="spacer"></div>
