---
title: Avoir 20 ans
image_path: http://mathieuthomasset.fr/images/regis-1.jpg
description: 20 ans l'âge de l'insouciance, l'âge des engagements, l'âge des choix. A 20 ans, Régis avait pris l'engagement de réussir ses études. Lui qui était arrivé quelques années plus tôt d’Afrique. Il rêvait de devenir chanteur. Régis a fait son choix.
preferred_url: http://www.mathieuthomasset.fr/regis.html
---

<div class="big-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1>Qu'as-tu fait des rêves de tes 20 ans ?</br>2015</h1>
      </br>
      <p>20 ans l'âge de l'insouciance, l'âge des engagements, l'âge des choix.</br>A 20 ans, Régis avait pris l'engagement de réussir ses études. Lui qui était arrivé quelques années plus tôt d’Afrique. Il rêvait de devenir chanteur. Régis a fait son choix. Il est devenu entrepreneur puis cadre en entreprise.</br>Régis a 40 ans aujourd’hui, il travaille dans une start-up… le jour. Le soir, le week-end et pendant ses congés, il s'appelle Kole, son prénom béninois, et il monte sur scène pour chanter ses chansons... écrites à 20 ans. Régis a auto-produit son premier album et fait financer son second sur KissKiss BankBank. Il tourne dans les festivals en France et en Afrique et est aussi à l’origine de la soirée Afrique en Scène pour promouvoir la génération montante de la scène africaine à Paris. </br> Voilà donc 20 ans que Régis poursuit ses rêves de musique. Là où la plupart d’entre nous aurait abandonné depuis bien longtemps, lui a patiemment construit son chemin. Un chemin fait de réussites, de doutes et d'interrogations. A la question, qu'as-tu fait des rêves de tes 20 ans ? Régis répond qu’il n’a jamais arrêté de les cultiver et apporte sa propre réponse entre pragmatisme et idéalisme, entre vie réelle et vie rêvée.</br></p>
      <div class="spacer"></div>
    </div>
    <div class="col-sm-12 text-right">
      <button class="btn btn-default fa fa-stop" id="btn-list"> slide</button>
      <button class="btn btn-default fa fa-th-large disabled" id="btn-grid"> planche</button>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
    <section id="grid">
      <% data.regis.each do |y| %>
        <div class="col-xs-6 col-sm-4" >
          <a href="images/<%= y.picture %>" class="swipebox" title="<%= y.caption %>">
            <%= image_tag y.picture, width: "100%" %>
          </a>
          <p><%= y.caption %></p>
        </div>
      <% end %>
    </section>
  </div>
</div>
<div class="spacer"></div>