---
title: Waterlicht
image_path: http://mathieuthomasset.fr/images/waterlicht-1.jpg
description: Expérience de la montée des eaux simulée par laser.
preferred_url: http://www.mathieuthomasset.fr/waterlicht.html
---

<div class="spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h3>Waterlicht</br>2015</h3>
      </br>
      <p>Immersion dans l'oeuvre de l'artiste et designer néerlandais Dan Roosegarde, présentée pour la première fois à Paris lors des Nuits Blanches 2015, qui simule la montée des eaux à travers un impressionnant dispositif de lasers bleus. Waterlicht a été initialement présentée à Amsterdam afin de sensibiliser à un risque bien réel dans un pays situé en majorité en dessous du niveau de la mer.</p>
      <div class="spacer"></div>
    </div>
        <div class="col-sm-12 text-right">
      <button class="btn btn-default fa fa-stop disabled" id="btn-list"></button>
      <button class="btn btn-default fa fa-th-large" id="btn-grid"></button>
      <div class="spacer"></div>
    </div>
    <div class="spacer"></div>
    <section id="grid">
      <% data.waterlicht.each do |y| %>
        <div class="col-sm-12">
          <%= image_tag y.picture, width: "100%" %>
          <p><%= y.caption %></p>
        </div>
      <% end %>
    </section>
  </div>
</div>

<div class="spacer"></div>
